@import "lib/bourbon/bourbon";
@import "_bootstrap";

body,html {
	font-family:$helvetica;
	color:black;
  overflow: hidden;  
  height: 100%; 
  max-height: 100%; 
  padding-top:17px;
}

img.logo {
	width:35px;
	height:35px;
}

.animate-repeat {
  line-height:40px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  @include transition(all 0.5s linear);
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

.green {
  color:green;
}

.red {
  color:red;
}

.fixed-panel {
  overflow-y:auto; 
}

.plane-info {
  font-family: $helvetica;
  font-size: 7; 
}

.mainView  {
    padding:0px;
    height: 100%;
}

.infoView {
  padding:0px;
    height: 100%;
}

.full-height {
    height: 100%;
}

.half-height {
    height: 60%;
}

.max-height {
    height: 85%;  
}

.plane-info{
    font-family: $helvetica;
    font-size: 7;
}

.angular-google-map-container {
    height: 100%;
    width: 100%;
    position: absolute;
}


table {
  font-size: 11px; 
}

.sidenav-pinned {
  position:absolute;
  top:35px;
  right:0px;
  width:260px;
}

.sidenav-show {
  right:0px;
  -moz-box-shadow: -3px 0px 5px 0px #cfcfcf;
  -webkit-box-shadow: -3px 0px 5px 0px #cfcfcf;
  -o-box-shadow: -3px 0px 5px 0px #cfcfcf;
  box-shadow: -3px 0px 5px 0px #cfcfcf;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=2);
  @include transition(all 0.5s ease);
}

.sidenav-hide {
  right:-260px;
  @include transition(all 0.5s ease);
}

.sidenav {
  position:absolute;
  top:35px;
  width:260px;
  z-index: 800;
  opacity: 0.8;
  border-left-color: black;
  border-left-style: solid;
  border-left-width: 1px;
}

.sidenav-content {
  background: white;
  overflow: auto;
  height:100%;
  margin: 0px;
  padding: 0px;
}

.menu-flight {
  position:absolute;
  top:30px;
  left:-30px;
  width:30px;
  z-index: 800;
  background: #00b6ff;
  border-top-left-radius: 10px 5px;
  border-bottom-left-radius: 10px 5px;
}   

.menu-settings {
  position:absolute;
  top:55px;
  left:-30px;
  width:30px;
  z-index: 800;
  background: #ebbb79;
  border-top-left-radius: 10px 5px;
  border-bottom-left-radius: 10px 5px;
}   

.menu-help {
  position:absolute;
  top:80px;
  left:-30px;
  width:30px;
  z-index: 800;
  background: #eb79d9;
  border-top-left-radius: 10px 5px;
  border-bottom-left-radius: 10px 5px;
}   

.thumb {
  width : 80px;
  height : 60px;
}