@import "lib/bourbon/bourbon";

body,html {
	font-family:$helvetica;
	color:black;
  overflow: hidden;  
  height: 100%; 
  max-height: 100%; 
}

img.logo {
	width:35px;
	height:35px;
}

.animate-repeat {
  line-height:40px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  @include transition(all 0.5s linear);
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

.green {
  color:green;
}

.red {
  color:red;
}

.fixed-panel {
  overflow-y:auto; 
}

.plane-info {
  font-family: $helvetica;
  font-size: 7; 
}

#mainView  {
    padding:0px;
}

.plane-info{
    font-family: $helvetica;
    font-size: 7;
}

.angular-google-map-container {
    height: 920px;
    width: 100%;
    position: absolute;
}

.navbar {
  margin: 1px;
  min-height:35px;
  height:35px;
  z-index: 10;
  color: white;
}

.navbar-nav > li > a {
    color:white;
    line-height: 5px;  
}

.footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:25px;
	background-color: #f5f5f5;
}

#wrapper {
    position: fixed;
    top:70px;
    left: 232px;
    z-index: 1000;
    @include transition(all 0.5s ease);
}

#wrapper.toggled {
    position: fixed;
    left: 0px;
    z-index: 1000;
}

#wrapper.toggled #sidebar-wrapper {
    width: 16px;
}

#sidebar-wrapper {
    z-index: 2;
    position: fixed;
    left: 0px;
    height: 85%;
    overflow-y: auto;
    background: lightgray;
    overflow: hidden;
    opacity: 0.8;
    box-shadow: 10px 10px 5px #888888;
    @include transition(all 0.5s ease);
	@include border-width(2px 1px 2px null);    
	@include border-color(darkgray darkgray darkgray null);
	@include border-style(solid solid null);
}

#wrapper > button {
    z-index:3;
    box-shadow: 10px 10px 5px #888888;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: black;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-item {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}


@media(min-width:768px) {
    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        overflow: hidden;    	
    }
}

table {
  width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    height: 120px;
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
    width: 19.2%;
    float: left;
}

