.navbar.navbar-inverse(role='navigation',ng-controller='navbarCtrl')
	.navbar-header
		a
			img.logo(src='img/noderadar-logo.png')
		h2.label.hidden-md.hidden-lg.hidden-sm(ng-show="!mobileMenu") Map
			span.glyphicon.glyphicon-chevron-right
		span.glyphicon.glyphicon-chevron-left(ng-show="mobileMenu")
			h2.label.hidden-md.hidden-lg.hidden-sm(ng-show="mobileMenu") List
		p.navbar-btn.navbar-right.in.pull-right.hidden-md.hidden-lg.hidden-sm
			span.glyphicon.glyphicon-user
			span.badge(ng-cloak)
				{{socket.getClientCount()}}
		p.navbar-btn.navbar-right.in.pull-right.hidden-md.hidden-lg.hidden-sm
			span.glyphicon.glyphicon-plane
			span.badge(ng-cloak)
				{{socket.getPlaneCount()}}
		p.navbar-btn.navbar-right.in.pull-right.hidden-md.hidden-lg.hidden-sm
			span.glyphicon.glyphicon-eye-open
			span.badge(ng-cloak)
				{{socket.getPlaneInView()}}
	.navbar-collapse.collapse
		ul.nav.navbar-nav
			li.btn-group(ng-repeat='itemMenu in menuList',dropdown)
				a.dropdown-toggle(type="button",dropdown-toggle, ng-cloak)
					{{itemMenu.dropmenu}}
					span.caret
				ul.dropdown-menu(role='menu')
					li(ng-repeat='action in itemMenu.subaction')
						a(href='{{action.link}}', ng-cloak)
							{{action.name}}
		p.navbar-btn.navbar-right
			span.glyphicon.glyphicon-user
			span.badge(ng-cloak)
				{{socket.getClientCount()}}
		p.navbar-btn.navbar-right
			span.glyphicon.glyphicon-plane
			span.badge(ng-cloak)
				{{socket.getPlaneCount()}}
		p.navbar-btn.navbar-right
			span.glyphicon.glyphicon-eye-open
			span.badge(ng-cloak)
				{{socket.getPlaneInView()}}
