doctype html
html(ng-app='nodeRadar')
	include ./includes/head.jade
	body
		include ./includes/navbar.jade
		//include ./includes/sidebar.jade
		.container-fluid(id='mainView',ng-controller='mapCtrl')
			.row(ng-if='map.show')
				ui-gmap-google-map.col-md-9(pan='true',center='map.center',zoom='map.zoom',options='map.options',dragging='map.dragging',control='map.control',ng-cloak)
					ui-gmap-markers(models="planes",idKey="'ICAO'",coords="'self'", icon="'icon'")
						ui-gmap-windows(show='show')
							div(ng-non-bindable,id="plane-info")
								i
									"Callsign" {{callsign}}
								br
								i
									"Speed" {{ground_speed}} km/h
								br
								i
									"Altitude" {{altitude}} m
								br
								i
									"Track" {{track}}
					ui-gmap-polylines(models="planes",path="'trackhistory'",stroke="'stroke'",static="true",visible="'show'",idKey="'ICAO'")
				.col-md-3
					div(id='infoView',ng-view)
		include ./includes/footer.jade
	script(src='//localhost:35729/livereload.js')

