body, html {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: black;
  overflow: hidden;
  height: 100%;
  max-height: 100%; }

img.logo {
  width: 35px;
  height: 35px; }

.animate-repeat {
  line-height: 40px;
  list-style: none;
  box-sizing: border-box; }

.animate-repeat.ng-move, .animate-repeat.ng-enter, .animate-repeat.ng-leave {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear; }

.animate-repeat.ng-leave.ng-leave-active, .animate-repeat.ng-move, .animate-repeat.ng-enter {
  opacity: 0;
  max-height: 0; }

.animate-repeat.ng-leave, .animate-repeat.ng-move.ng-move-active, .animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 40px; }

.green {
  color: green; }

.red {
  color: red; }

.fixed-panel {
  overflow-y: auto; }

.plane-info {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 7; }

.mainView {
  padding: 0px;
  margin: 0px;
}

.infoView {
  padding: 0px;
  margin: 0px;
}

.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

.half-height {
  height: 55%; }

.max-height {
  height: 85%; }

.plane-info {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 7; }

.angular-google-map-container {
  height: 100%;
  width: 100%;
  position: absolute; }

.navbar {
  margin: 1px;
  min-height: 35px;
  height: 35px;
  z-index: 10;
  color: white; }

.navbar-nav > li > a {
  color: white;
  line-height: 5px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: #f5f5f5; }

#wrapper {
  position: fixed;
  top: 70px;
  left: 232px;
  z-index: 1000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled {
  position: fixed;
  left: 0px;
  z-index: 1000; }

#wrapper.toggled #sidebar-wrapper {
  width: 16px; }

#sidebar-wrapper {
  z-index: 2;
  position: fixed;
  left: 0px;
  height: 85%;
  overflow-y: auto;
  background: lightgray;
  overflow: hidden;
  opacity: 0.8;
  box-shadow: 10px 10px 5px #888888;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-top-width: 2px;
  border-right-width: 1px;
  border-bottom-width: 2px;
  border-top-color: darkgray;
  border-right-color: darkgray;
  border-bottom-color: darkgray;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid; }

#wrapper > button {
  z-index: 3;
  box-shadow: 10px 10px 5px #888888; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: black;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > .sidebar-item {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

@media (min-width: 768px) {
  #sidebar-wrapper {
    width: 250px; }
  #wrapper.toggled #sidebar-wrapper {
    overflow: hidden; } }

table {
  font-size: 11px; 
}

.sidenav-pinned {
  position:absolute;
  top:35px;
  right:0px;
  width:260px;
}

.sidenav-show {
  right:0px;
  -moz-box-shadow: -3px 0px 5px 0px #cfcfcf;
  -webkit-box-shadow: -3px 0px 5px 0px #cfcfcf;
  -o-box-shadow: -3px 0px 5px 0px #cfcfcf;
  box-shadow: -3px 0px 5px 0px #cfcfcf;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=2);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidenav-hide {
  right:-260px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidenav {
  position:absolute;
  top:35px;
  width:260px;
  z-index: 800;
  opacity: 0.8;
  border-left-color: black;
  border-left-style: solid;
  border-left-width: 1px;
}

.sidenav-content {
  background: white;
  overflow: auto;
  height:100%;
  margin: 0px;
  padding: 0px;
}

.menu-flight {
  position:absolute;
  top:30px;
  left:-30px;
  width:30px;
  z-index: 800;
  background: #00b6ff;
  border-top-left-radius: 10px 5px;
  border-bottom-left-radius: 10px 5px;
}   

.menu-settings {
  position:absolute;
  top:55px;
  left:-30px;
  width:30px;
  z-index: 800;
  background: #ebbb79;
  border-top-left-radius: 10px 5px;
  border-bottom-left-radius: 10px 5px;
}   

.menu-help {
  position:absolute;
  top:80px;
  left:-30px;
  width:30px;
  z-index: 800;
  background: #eb79d9;
  border-top-left-radius: 10px 5px;
  border-bottom-left-radius: 10px 5px;
}   
