.panel.panel-primary
	.panel-heading(ng-click="isFlightCollapsed = !isFlightCollapsed")
		h3.panel-title About {{Title}}
	.panel-body.fixed-panel(collapse="isFlightCollapsed")
		p(ng-if="name=='noderadar'") ADSB-radar is a lightweight site made with NodeJS and AngularJS. 
			p(ng-if="name=='noderadar'") It is able to display realtime date comming from Dump1090, including various features like flight history or search, antenna coverage and also point to point multi server able to extend the coverage.
		p(ng-if="name=='nodejs'") Node.js was created and first published for Linux use in 2009. Its development and maintenance was spearheaded by Ryan Dahl and sponsored by Joyent, the firm where Dahl worked. 
			p(ng-if="name=='nodejs'") Dahl was inspired to create Node.js after seeing a file upload progress bar on Flickr. The browser did not know how much of the file had been uploaded and had to query the Web server. Dahl desired an easier way.
			p(ng-if="name=='nodejs'") It heralded international attention after its debut at the inaugural JSConf EU conference in November 2009. npm, a package manager for Node.js libraries, was introduced in 2011. 
			p(ng-if="name=='nodejs'") In June 2011, Microsoft partnered with Joyent to create a native Windows version of Node.js. The first Node.js build to support Windows was released in July.In January 2012, Dahl stepped aside, promoting coworker and npm creator Isaac Schlueter to manage the project.In January 2014, Schlueter announced Timothy J Fontaine would be Node.js's new project lead.
		p(ng-if="name=='adsb'") Automatic dependent surveillance – broadcast (ADS–B) is a cooperative surveillance technology in which an aircraft determines its position via satellite navigation and periodically broadcasts it, enabling it to be tracked. 
			p(ng-if="name=='adsb'") The information can be received by air traffic control ground stations as a replacement for secondary radar. It can also be received by other aircraft to provide situational awareness and allow self separation. 
			p(ng-if="name=='adsb'") ADS–B is "automatic" in that it requires no pilot or external input. It is "dependent" in that it depends on data from the aircraft's navigation system. ADS–B is an element of the US Next Generation Air Transportation System (NextGen) and the Single European Sky ATM Research (SESAR).
			p(ng-if="name=='adsb'") ADS–B equipment is currently mandatory in portions of Australian airspace, the United States requires some aircraft to be equipped by 2020 and the equipment will be mandatory for some aircraft in Europe from 2017.