.panel.panel-info
	.panel-heading
		h3.panel-title Flight list
	.panel-body
		table.table
			.thead
				th.col-md-3 ICAO
				th.col-md-3 Callsign
				th.col-md-3 Speed
				th.col-md-3 Altitude
			.tbody
				tr(ng-repeat='plane in planes', ng-click='Selected();')
					td.col-md-3 {{plane.ICAO}}
					td.col-md-3 {{plane.callsign}}
					td.col-md-3 {{plane.ground_speed}}
					td.col-md-3 {{plane.altitude}}
.panel.panel-info
	.panel-heading
		h3.panel-title Flight information
	.panel-body
		p(ng-cloak)
			text Registration :	{{planeinfo.aircraft.Registration}}
		p(ng-cloak) 
			text Plane type : {{planeinfo.plane.manufacturer}} {{planeinfo.plane.model}} ( {{planeinfo.plane.engines}} - {{planeinfo.plane.typeDesignator}})
		p(ng-cloak)
			text Operator :	{{planeinfo.aircraft.Operator}}
		p(ng-cloak)
			text Flight id {{planeinfo.flight.pink_flight}} 
			text From :	{{planeinfo.flight.depapt}} 
			text To : {{planeinfo.flight.arrapt}}
		carousel(interval="5000")
			slide(ng-repeat="photo in planeinfo.photos")
				img(ng-src="{{photo.thumbnailPath}}", style="margin:auto;")
				.carousel-caption
					h4 {{planeinfo.plane.model}}
					p {{photo.author}}


