.container-fluid.full-height(ng-init="status.openDetail=false")
	.panel.panel-primary(ng-class="{'half-height': !status.openDetail, 'max-height' : status.openDetail, 'full-height' : mobileMenu}")
		.panel-heading.panel-title.hidden-xs.hidden-sm List
		.input-group
			span.input-group-addon.glyphicon.glyphicon-search
			input.form-control(type='text',placeholder='Flight ID or Aricraft registration',ng-model="searchValue")
		table.table.table-condensed.table-hover.full-height
			thead
				th.hidden-md.col-lg-3 Silhouette
				th.col-md-3 Callsign
				th.col-md-3 Speed (km/h)
				th.col-md-3 Altitude (m)
			tbody
				tr.animate-repeat(ng-repeat='plane in socket.Planes | filter:searchValue', ng-click='getPlaneInfo(plane)',ng-class="{'alert-info':plane.show,'':!plane.show}",tooltip="{{plane.description}}")
					td.hidden-md.col-lg-3 
						img(ng-src="{{plane.silhouette}}")
					td.col-md-3 {{plane.callsign}}
					td.col-md-3.text-center {{plane.ground_speed}}
					td.col-md-3 
						i.pull-left.glyphicon(ng-class="{'glyphicon-triangle-bottom red': (plane.vertical_rate<0),'glyphicon-triangle-top green': (plane.vertical_rate>0),'glyphicon-minus': (plane.vertical_rate==0)}")						
						.pull-right {{plane.altitude}}
	.panel.panel-primary.hidden-xs.hidden-sm
		.panel-heading.panel-title(ng-click="status.openDetail = !status.openDetail") Detail
			i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': !status.openDetail, 'glyphicon-chevron-right': status.openDetail}")
		.panel-body(collapse='status.openDetail')
			div.well
				text(ng-cloak) Registration : {{planeInfo.Registration}}
				br
				text(ng-cloak) Plane type : {{planeInfo.Manufacturer}} {{planeInfo.ModelType}} ({{planeInfo.Engines}} - {{planeInfo.DesignatorType}})
				br
				text(ng-cloak) Operator : {{planeInfo.Operator}}
				br
				text(ng-if="planeInfo.Airport",ng-cloak) Flight id {{planeInfo.FlightName}} 
				text(ng-if="planeInfo.Airport",ng-cloak) from {{planeInfo.Airport.departure.AirportName}} ({{planeInfo.Airport.departure.DepartureTime}}) 
				text(ng-if="planeInfo.Airport",ng-cloak) to {{planeInfo.Airport.arrival.AirportName}} ({{planeInfo.Airport.arrival.ArrivalTime}}) 
			carousel.hidden-xs.hidden-sm.hidden-md(interval="5000")
				slide(ng-repeat="photo in planeInfo.Photos")
					img(ng-src="{{photo.thumbnailPath}}", style="margin:auto;width:50%;")
					.carousel-caption
						h4 {{planeInfo.ModelType}}
						p {{photo.author}}