.panel.panel-primary
	.panel-heading(ng-click="isFlightCollapsed = !isFlightCollapsed")
		h3.panel-title Flight list
	.panel-body.fixed-panel(collapse="isFlightCollapsed")
		table.table.table-condensed.table-hover
			.thead
				th.col-md-3 Silhouette
				th.col-md-3 Callsign
				th.col-md-3 Speed (km/h)
				th.col-md-3 Altitude (m)
			.tbody
				tr.animate-repeat(ng-repeat='(key,plane) in planes track by key', ng-click='Selected();',ng-class="{'alert-info':plane.show,'':!plane.show}")
					td.col-md-3 
						img(ng-src="{{plane.silhouette}}")
					td.col-md-3 {{plane.callsign}}
					td.col-md-3.text-center {{plane.ground_speed}}
					td.col-md-3 
						i.pull-left.glyphicon(ng-class="{'glyphicon-triangle-bottom red': (plane.vertical_rate<0),'glyphicon-triangle-top green': (plane.vertical_rate>0),'glyphicon-minus': (plane.vertical_rate==0)}")						
						.pull-right{{plane.altitude}}
.panel.panel-primary
	.panel-heading(ng-click="isInfoCollapsed = !isInfoCollapsed")
		h3.panel-title Flight information
	.panel-body(collapse="isInfoCollapsed")
		div.well
			p(ng-cloak)
				text Registration :	{{planeinfo.Registration}}
			p(ng-cloak) 
				text Plane type : {{planeinfo.Manufacturer}} {{planeinfo.ModelType}} ( {{planeinfo.Engines}} - {{planeinfo.DesignatorType}})
			p(ng-cloak)
				text Operator :	{{planeinfo.Operator}}
			p(ng-if="planeinfo.Airport",ng-cloak)
				text Flight id {{planeinfo.FlightName}} 
				text from {{planeinfo.Airport.departure.AirportName}} ({{planeinfo.Airport.departure.DepartureTime}}) 
				text to {{planeinfo.Airport.arrival.AirportName}} ({{planeinfo.Airport.arrival.ArrivalTime}}) 
		carousel(interval="5000")
			slide(ng-repeat="photo in planeinfo.Photos")
				img(ng-src="{{photo.thumbnailPath}}", style="margin:auto;")
				.carousel-caption
					h4 {{planeinfo.ModelType}}
					p {{photo.author}}


